# Ignore everything
*

# But not these files...
!.gitignore
!move_by_paragraph.py
!Preferences.sublime-settings
!Default (Linux).sublime-keymap
!/snippets
!/snippets/**
!Default (OSX).sublime-keymap
!Package Control.sublime-settings
!SublimeLinter.sublime-settings

# and still those files
.DS_Store
