# Ignore everything
*

# But not these files...
!.gitignore
!move_by_paragraph.py
!Preferences.sublime-settings
!Default (Linux).sublime-keymap
!/snippets
!/snippets/**
!Default (OSX).sublime-keymap

.DS_Store
